@model Order

<div class="col-md-6 m-auto">

	<form asp-controller="Order" asp-action="CheckOut" method="post" , enctype="multipart/form-data">
		
		<div class="mb-3">
			<label class="form-label">Name</label>
			<input asp-for="Name" class="form-control" />
		</div>
		<div class="mb-3">
			<label class="form-label">SurName</label>
			<input asp-for="SurName" class="form-control" />
		</div>
		<div class="mb-3">
			<label class="form-label">Аdress</label>
			<input asp-for="Adress" class="form-control" />
		</div>
		<div class="mb-3">
			<label class="form-label">Phone</label>
			<input asp-for="Phone" class="form-control" />
		</div>
		<div class="mb-3">
			<label class="form-label">Email</label>
			<input asp-for="Email" class="form-control" />
		</div>

		<button type="submit" class="btn btn-success">Edit</button>
	

	</form>

</div>
