@model List<Login>
@{
	ViewData["Title"] = "Login";
}

<div class="col-md-6 m-auto">
    <form asp-controller="Admin" asp-action="Login">
        
            @foreach(var login in Model)
            {
            <div class="mb-3">
                 <label class="form-label">UserName</label>
                 <input asp-for="@login.UserName" class="form-control" />
            </div>
            <div class="mb-3">
               <label class="form-label">Password</label>
                <input asp-for="@login.Password" type="password" class="form-control" />
            </div>
            }
           
        <div class="d-grid gap-2">
            <button class="btn btn-outline-dark" type="submit">Login</button>
        </div>
    </form>
</div>