@{
    ViewData["Title"] = "Contacts";
}

<body>
    <div>
        <h3><center>Instagram: <a href="https://www.instagram.com/kiri__ua" >KIRI__UA </a></center></h3>
        <br>
        <h3><center>Email: Ksleathercraft@ukr.net</center></h3>
        <br>
        <h3><center>Telegram: +380954852252</center></h3>
    </div>
    <br />
    <div>
        <h4><center>Магазин "Всі.Свої"</center></h4>
        <h4><center>вулиця Хрещатик, 27</center></h4>
        <h4><center> 063 437 9933</center></h4>
    </div>
    <br />
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81236.10496630055!2d30.41959317831628!3d50.48526350661662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce55dc2afcb1%3A0xfe79db6338206e2c!2z0JLRgdGWLiDQodCy0L7RlyDQnNCw0LPQsNC30LjQvQ!5e0!3m2!1sru!2sua!4v1673882369207!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>

</body>