@{
    ViewData["Title"] = "Home";
}

<body>
    <br>
    <table>
        <TR>
            <th>
                <div class="layer4"><img src="~/images/1.jpg" width="500" height="500" class="img" alt="HomePage"> </div>
            </th>

            <th>
                <div class="layer2">
                    Привіт. Мене звати Кирило. Я творець бренду KIRI.
                    <br>
                    Ми виготовляємо шкіряни аксесуари найвищої якості.
                    <br>
                    Робимо все з матеріалів найвищої якості.
                    <br>
                    Кожний аксесуар зроблений вручну, від маленького гаманця
                    <br>
                    до великої сумки, шов за швом. Використовуємо тільки
                    <br>
                    натуральну шкіру кози та корови
                    <br>
                    Така сумка коштує дорожче ніж з «еко-шкіри», але носиться набагато
                    <br>
                    довше і не забруднює навколишнє середовище
                    <br>


                </div>
            </th>
        </TR>
        <tr>
            <th>
                <div class="layer3">
                    <img src="~/images/2.jpg" width="500" height="500" class="img" alt="HomePage">
                </div>
            </th>
            <th>
                <div class="layer4">
                    <img src="~/images/3.jpg" width="500" height="500" class="img" alt="HomePage">
                </div>

            </th>
        </tr>


    </table>





</body>
<style>
    .layer2 {
        margin-left: 30%;
        padding: 10px;
        font-family:Cambria;
        font-size: large:
        margin-top: -5%;
    }

    .layer4 {
        margin-left: 30%;
        padding: 10px;
        margin-top: 2%;
    }

    .layer3 {
        margin-left: 32%;
    }

    .layer4 {
        margin-right: 30%;
    }

</style>
