@{
    ViewData["Title"] = "Home";
}

<body>
    <br>
    <table>
        <TR>
            <th>
                <div class="layer4"><img src="~/images/1.jpg" width="500" height="500" class="img" alt="HomePage"> </div>
            </th>

            <th>
                <div class="layer2">
                    Hello. My name is Kyrylo. I am the creator of the KIRI brand.
                    <br>
                    We manufacture leather accessories of the highest quality.
                    <br>
                    We make everything from the highest quality materials.
                    <br>
                    Each accessory is handmade, from a small purse
                    <br>
                    to a large bag, seam by seam. We use only
                    <br>
                    natural goat and cow skin
                    <br>
                    Such a bag is more expensive than an "eco-leather" bag, but it is worn a lot
                    <br>
                    longer and does not pollute the environment
                    <br>


                </div>
            </th>
        </TR>
        <tr>
            <th>
                <div class="layer3">
                    <img src="~/images/4.jpg" width="500" height="500" class="img" alt="HomePage">
                </div>
            </th>
            <th>
                <div class="layer4">
                    <img src="~/images/3.jpg" width="500" height="500" class="img" alt="HomePage">
                </div>

            </th>
        </tr>


    </table>





</body>
<style>
    .layer2 {
        margin-left: 30%;
        padding: 10px;
        font-family:Cambria;
        font-size:large;
        margin-top: -20%;
    }

    .layer4 {
        margin-left: 30%;
        padding: 10px;
        margin-top: 2%;
    }

    .layer3 {
        margin-left: 32%;
    }

    .layer4 {
        margin-right: 30%;
    }

</style>
